body{
    background:gray;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
   align-items: center;
   justify-content: center;
}

.box{
    background: #fdfdfd;
    padding: 25px 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.form-box{
    margin: 0px 20px;
    width: 300px;
}

.form-box .input input{
    display: flex;
    flex-direction: column;
    height: 45px;
    border: 1px solid;
    border-radius: 5px 5px;
}

.form-box header{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 10px;
    text-align: center;
    color: black;
}

.form-box .field{
    display: flex;
    flex-direction: column;
    padding-top: 15px;

}

.role-selection {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn{
    background: black;
    border-radius: 10px 10px;
}

.btn1{
    background: red;
    height: 35px;
    border-radius: 10px 10px;
}

.btn2{
    background: green;
    height: 35px;
    border-radius: 10px 10px;
}

.link{
    text-align: center;
    margin: 5px 0;
}

.icon{
    justify-content: center;
    align-items: center;
    display: flex;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.input-group .btn {
    border-color: #ccc;
    color: #333;
    min-width: 70px;
    }

    .input-group .dropdown-menu {
        min-width: 100px;
    }